.shop {
  background-color: bisque;
  display: flex;
  flex-direction: column;
}

.shop__title {
  font-size: 48px;
  margin: 50px auto;
}

.shop__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 400px));
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.gallery-card {
  width: 400px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.gallery-card__title {
  font-size: 30px;
  margin: 0 0 20px;
}

.gallery-card__image {
  max-width: 300px;
}

.gallery-card__text {
  font-size: 20px;
  margin: 10px 0 10px;
}

.gallery-card__button {
  width: 150px;
}
